---
import categories from "./categories.json"
import mappings from "./mappings.json"

const { related } = Astro.props;
const relatedNotes = related.split('/')
---

<style lang="scss">
    .bounds {
        margin-top: 3rem;
        padding-top: 2rem;
        font-size: 0.85rem;
        border-top: 1px solid #f9f9f9;
    }

</style>
<div class="bounds">
    {related.length > 0 && (
       <div>
        Related: 
            {relatedNotes.map((ref, index) => (
                    // for ecah item, create a link and put a slash at the end. But ignore the last slash
                    <span>
                        <a href={`/${categories[ref]}/${ref}/`}>{`${ref}`}</a>{index < relatedNotes.length - 1 ? '  /  ' : ''}
                    </span>
            ))}
        </div>
    )}
</div>